{{/* 计算行数 */}}
{{ $lines := (len (split .Inner "\n")) }}
{{ $autoThreshold := 15 }} {{/* 超过多少行自动折叠，自行调整 */}}

{{ $needCollapse := ge $lines $autoThreshold }}

{{ if $needCollapse }}
<details class="code-details">
  <summary>
      <span class="code-summary-left">
          <span class="code-dots"><span></span><span></span><span></span></span>
          <span>{{ if .Type }}[{{ .Type }}] {{ end }}显示已折叠代码（{{ $lines }} 行）</span>
      </span>
  </summary>
  <div class="collapsible-content">
{{ else }}
<div class="code-block-wrap">
  <div class="code-titlebar">
      <span class="code-dots"><span></span><span></span><span></span></span>
      {{ if .Type }}<span class="code-lang">{{ .Type }}</span>{{ end }}
  </div>
{{ end }}

{{ $r := transform.HighlightCodeBlock . }}
{{ $r.Wrapped }}

{{ if $needCollapse }}
  </div>
</details>
{{ else }}
</div>
{{ end }}
